.link{
    color: black;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 7px ;
}
.desplegble{
    color: black;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 7px ;
}
.desplegble:hover{
    box-shadow:5px 10px 20px 1px rgba(0, 0, 0, 0.273) ;
    transition: all 0.7s linear;
}

.link:hover{
    box-shadow:5px 10px 20px 1px rgba(0, 0, 0, 0.273) ;
    transition: all 0.7s linear;
}
.input:hover{
    border:solid 1px black;
    transition: all 0.7s linear;
}
