.pie_pagina {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(247, 247, 250);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2em;
}

.data_extra {
  list-style-type: none;
  text-align: center;
}
.data_extra h1 {
  font-size: 2rem;
  margin: 10px 0 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.data_extra h1::after {
  flex-grow: 1;
  height: 1px;
  content: "\a0";
  background-color: #ffffff;
  position: relative;
  top: 0.5em;
}
.data_extra h1::before {
  flex-grow: 1;
  height: 1px;
  content: "\a0";
  background-color: #ffffff;
  position: relative;
  top: 0.5em;
}

.data_extra ul {
  text-align: center;
  color: white;
  display:inline
}
.data_extra li {
  display: inline-block;
}
.data_extra svg {
  text-align: center;
  margin-left: 4rem;
  margin-top: 2rem;
  width: 2.5rem;
  color: rgb(252, 252, 252);
  height: 2.5rem;
  border-radius: 8px;
}
