.section_inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.503);
}

.contenedor_inicio {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.h2_inicio {
  margin-bottom: 2rem;
  text-decoration: none;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.851);
  text-align: center;
}

.datos {
  margin-bottom: 2rem;
  font-size: 1rem;
}
.datos input{
  background-color: transparent;
  color: white;
 
}

.datos label{
  color: white;
}

.datos input:hover {
  border: solid 4px;
  color: rgb(245, 245, 245);
  background-color: transparent;
}


button {
  width: 100%;
  height: 40%;
  border-radius: 40px;
  background: white;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}
.boton_sesion {
  color: black;
  text-decoration: none;
}
.boton_sesion:hover {
  color: black;
}
button:hover {
  background-color: rgba(224, 224, 230, 0.332);
}
.registrarse {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  margin: 15px 0 10px;
}
.registrarse p a {
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-weight: 600;
}
.registrarse p a:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  /*INICIAR SESION*/
  .h2_inicio {
    font-size: 4rem;
  }

}

@media (min-width: 768px) {
  /*INICIO DE SESION*/
  .h2_inicio {
    font-size: 8em;
  }
  .datos{
    font-size: 1rem;
  }
  .datos input{
    font-size: 1.3rem;
  }

  .contenedor_inicio {
    width: 550px;
    height: 560px;
  }
 
}

@media (min-width: 992px) {
  /*INICIAR SESION*/
  .contenedor_inicio {
    width: 1100px;
    height: 900px;
  }
  .h2_inicio {
    font-size: 6rem;
  }

  .datos{
    font-size: 1rem;
  }
  .datos input{
    font-size: 1rem;
  }

  button {
    padding: 5px;
    font-size: 1.9rem;
  }
  .registrarse {
    font-size: 1.6rem;
  }
}
