
body {
  background: rgb(103, 103, 103);
  background: linear-gradient(
    180deg,
    rgba(103, 103, 103, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: "Bebas Neue", sans-serif;
}
h2 {
  text-align: center;
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 2.9rem;
  font-family: fantasy;
  margin-top: 1rem;
}